@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: lightyellow;
}

#container {
  background: white;
}

#title {
  padding-top: 60px;
  text-align: center;
}

svg {
  display: flex;
  margin: 60px auto;
  background-color: white;
  box-shadow: 0 0 10px black;
}
